[submodule ".audit-report"]
	path = .audit-report
	url = git@github.com:informalsystems/audit-reports.git
[submodule "2022/Q3/artifacts/celestia-core"]
	path = 2022/Q3/artifacts/celestia-core
	url = https://github.com/celestiaorg/celestia-core
[submodule "2022/Q3/artifacts/celestia-app"]
	path = 2022/Q3/artifacts/celestia-app
	url = https://github.com/celestiaorg/celestia-app
[submodule "2023/Q1/artifacts/nmt"]
	path = 2023/Q1/artifacts/nmt
	url = https://github.com/celestiaorg/nmt
